<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="NOMINA.My.MySettings.ConnectionString" connectionString="Data Source=TEXSUN\TEXSUN;Persist Security Info=True;User ID=nomina_n;Password=nominor_0" providerName="System.Data.SqlClient" />
    <add name="NOMINAEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEXSUN\TEXSUN;persist security info=True;user id=nomina_n;password=nominor_0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>